<body>
    <div class="first">
      <button class="button" onclick="document.getElementById('id01').style.display='block'"> Login </button>
    
    </div>
    
    
    <div id="id01" class="modal">
      
      <form class="modal-content animate">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="https://icon-library.com/images/username-icon/username-icon-24.jpg" alt="Avatar" width="200" height="200" class="avatar">
        </div>
    
        <div class="container">
          <label for="uname"> <b> Username </b> </label>
          <input type="text" placeholder="Enter Username" name="uname" id="username" name = "uname" required>
    
          <label for="psw"><b> Password </b></label>
          <input type="password" placeholder="Enter Password" name="psw" id="password" name = "pws" required="required">
            
          <button class="button" type="submit" (click) = "onSubmit()"> Login </button>
          <br>
          <label>
            <input type="checkbox" name="remember"> Remember me
          </label>
        </div>
    
        <div class="container">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn"> Cancel </button>
          <span class="psw"> <a href="#">Forgot password?</a></span>
        </div>
      </form>
    </div>
  
    <script>
    // Get the modal
    var modal = document.getElementById('id01');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
    
    </body>